* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  background-color: #5f3b8bd7;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}

h1 {
  color: white;
  font-size: 1.5rem;
  text-align: center;
}

.camera-box {
  width: 100%;
  max-width: 500px;
  aspect-ratio: 16/9;
  background-color: #000;
  border-radius: 14px;
  overflow: hidden;
}

.camera-box video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  background-color: rgb(14, 1, 22);
  color: #ffffff;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.1rem;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

button:hover {
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}


@media (max-width: 768px) {
  h1 {
    font-size: 1.2rem;
  }
  
  button {
    padding: 0.875rem 1.5rem;
    font-size: 1rem;
  }


}
h2 {
  color: white;
  font-size: 1rem;
  text-align: center;
}

